@import url('../../header/header.css');
@import url('../../author/author.css');
@import url('../../footer/footer.css');
@import url('../../../vendor/fonts.css');
@import url('../../title/title.css');
@import url('../../customer/customer.css');
@import url('../../technology/technology.css');
@import url('../../commits/commits.css');
@import url('../../slider-container/slider-container.css');
@import url('../../slider-card/slider-card.css');
@import url('../../../../node_modules/swiper/css/swiper.min.css');
@import url('../../swiper/swiper.css');


.page__about {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', 'Roboto Slab', 'Arial', sans-serif;
}

a:hover {
    opacity: 0.7;
}
a::after {
    opacity: 1;
}
a {
    transition: opacity .2s ease;
}