@import url('./__image/result-card__image.css');
@import url('./__date/result-card__date.css');
@import url('./__title/result-card__title.css');
@import url('./__description/result-card__description.css');
@import url('./__content/result-card__content.css');
@import url('./__source/result-card__source.css');

.result-card {
    width: 400px;
    background-color: #fff;
    border-radius: 16px;
    min-height: 576px;
    overflow: hidden;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .result-card {
        width: 224px;
        min-height: 420px;
    }
}

@media screen and (max-width : 760px) {
    .result-card {
        width: 288px;
        min-height: 446px;
        border-radius: 8px;
    }
}