@import url('../header/header.css');
@import url('../lead/lead.css');

.main {
    margin: 0 auto;
    max-width: 100%;
    max-height: 576px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/header_background.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .main {
        max-height: 400px;
    }
}

@media screen and (max-width : 760px) {
    .main {
        max-height: 536px;
    }
}