.slider-card__author-name {
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0;
    padding: 4px 0 2px 0;
}

@media screen and (max-width : 1024px)  {
    .slider-card__author-name {
        font-size: 20px;
        line-height: 30px;
        padding: 0;
    }
}
