.notfound__description {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0;
    padding-top: 16px;
    width: 326px;
    text-align: center;
}