.lead__form {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-top: 1px solid #D1D2D6;
    border-bottom: 1px solid #D1D2D6;
    border-left: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .lead__form {
        height: 56px;
    }
}

@media screen and (max-width : 760px) {
    .lead__form {
        height: 128px;
        background: none;
        flex-direction: column;
        border: none;
    }
}