.lead__description {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 545px;
    margin: 0;
    padding: 32px 0 64px 0;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .lead__description {
        width: 452px;
        padding: 16px 0 24px 0;
    }
}

@media screen and (max-width : 760px) {
    .lead__description {
        font-size: 20px;
        line-height: 26px;
        width: 288px;
        padding: 16px 0 64px 0;
    }
}