.commits-head__link {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin: 0;
    padding-top: 82px;
    text-decoration: none;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .commits-head__link {
        padding-top: 48px;
    }
}

@media screen and (max-width : 760px) {
    .commits-head__link {
        display: none;
    }
}