.result-card__image {
    height: 272px;
    background-size: cover;
    background-position: left top;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .result-card__image {
        height: 150px;
    }
}

@media screen and (max-width : 760px) {
    .result-card__image {
        height: 196px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}