@import url('../../header/header.css');
@import url('../../footer/footer.css');
@import url('../../../vendor/fonts.css');
@import url('../../title/title.css');
@import url('../../query/query.css');
@import url('../../analytics-per-days/analytics-per-days.css');
@import url('../../header/_type/header_type_analytics.css');

.page__analytics {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', 'Roboto Slab', 'Arial', sans-serif;
}

a:hover {
    opacity: 0.7;
}
a {
    transition: opacity .2s ease;
}