.commits__button {
    width: 288px;
    height: 56px;
    padding: 0;
    border: 1px solid #1A1B22;
    outline: none;
    border-radius: 80px;
    background-color: #F5F6F7;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    color: #1A1B22;
    transition: opacity .2s ease;
    cursor: pointer;
}

.commits__button:hover {
    opacity: 0.9;
}

.commits__button::after {
    opacity: 1;
}

.lead__button:active {
    background-color: #2A65CC;
}
