@import url('../tech/tech.css');

.technology {
    min-height: 334px;
    background-color: #F5F6F7;
    padding: 0 0 0 104px;
    margin: 0;
    display: flex;
    width: 100%;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .technology {
        min-height: 341px;
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width : 760px) {
    .technology {
        min-height: 528px;
        padding: 0 0 38px 0;
        justify-content: center;
    }
}