.author__avatar {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin: 80px 56px 80px 104px;
}

@media screen and (min-width : 760px) and (max-width : 1024px)  {
    .author__avatar {
        width: 232px;
        height: 232px;
        border-radius: 1000px;
        margin: 61px 32px 61px 40px;
    }
}

@media screen and (max-width : 760px) {
    .author__avatar {
        width: 272px;
        height: 272px;
        margin: 32px 0 24px 0;

    }
}