.footer__logo {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

@media screen and (max-width : 760px) {
    .footer__logo {
        margin-top: 40px;
    }
}